{% extends 'main.html' %} 


{% block main %}

<h1 class="text-center my-5 Ananos-Pizza">About Us</h1>
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto ferileads">
        <p class="lead">
          Welcome to Ananos Pizza, where passion meets taste! Founded with a
          love for authentic flavors and a commitment to quality, Ananos Pizza
          has been delighting pizza lovers since 2024.
          Nestled in the heart of Tbilisi, our pizzeria is more than just a
          place to eat; it's a gathering spot where families and friends come
          together to savor delicious, handcrafted pizzas. At Ananos Pizza, we
          believe in using only the finest ingredients sourced locally and
          internationally. Our dough is made fresh daily, ensuring each bite is
          perfectly crisp yet delightfully soft. We take pride in our rich
          tomato sauce, bursting with flavors that complement our carefully
          selected toppings. Whether you prefer classic favorites like
          Margherita and Pepperoni or adventurous specialties like BBQ Chicken
          and Mediterranean Veggie, there's a pizza to satisfy every palate.
          Beyond our commitment to exceptional food, Ananos Pizza is dedicated
          to creating memorable experiences. Our warm and inviting atmosphere
          welcomes guests to relax and enjoy a slice of happiness. From our
          friendly staff who are passionate about pizza to our cozy dining area
          and convenient take-out options, we strive to make every visit
          special. As a family-owned business, community is at the heart of what
          we do. We proudly support local events and charities, believing in
          giving back to the neighborhood that has embraced us. Whether you're
          joining us for a quick lunch, celebrating a milestone, or hosting a
          pizza party, Ananos Pizza is here to make every moment deliciously
          unforgettable. Join us at Ananos Pizza and experience pizza
          perfection, crafted with love and served with a smile. Discover why
          we're not just another pizzeria, but your go-to destination for the
          best pizza in town
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock main %}
