{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav id="menu">
    <input type="checkbox" id="responsive-menu" onclick="updatemenu()">
    <label></label>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>
            <a class="dropdown-arrow" href="{% url 'menu' %}">Menu</a>
            <ul class="sub-menus">
                <li><a href="/">Pepperoni Pizza</a></li>
                <li><a href="/">Vegetarian Pizza</a></li>
                <li><a href="/">Supreme Pizza</a></li>
            </ul>
        </li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'book_table' %}">Book Table</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
    </ul>
</nav>

<div class="content">
    {% block main %}
    {% endblock main %}
</div>

<footer class="text-center my-5">
    <p>&copy; Ananos Pizza Website 2024</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
